<html>
    <head>
        <meta http-equiv="content-Type" content="text/html; charset=UTF-8" />
        <script src="../../zhe_repo/vue.js" ></script>
    </head>
    <body>
        <div id="demo_0">
            <h3> DEMO 0,  任务清单（todo list） </h3>
            <input 
                v-model="newTodoText" 
                v-on:keyup.enter="addNewTodo" 
                placeholder="add a todo" 
            />
            <ul>
                <li
                    is="todo-item" 
                    v-for="(todo, index) in todos" 
                    v-bind:key="todo.id" 
                    v-bind:title="todo.title" 
                    v-on:remove="todos.splice(index, 1)"
                ></li>
            </ul>
        </div>
        <script>
            Vue.component("todo-item", {
                props: ['title'],
                template: '<li>{{ title }}<button v-on:click="$emit(\'remove\')" >X</button></li>'
            });
            var vm = new Vue({
                el: "#demo_0",
                data: {
                    newTodoText: '',
                    todos: [
                        {id:1, title:"VUE demo 0号，拿下！"},
                        {id:2, title:"VUE 继续推进！"},
                        {id:3, title:"JS/ES6 pre 302 复习！"}
                    ],
                    nextTodoId: 4
                },
                methods: {
                    addNewTodo: function(){
                        this.todos.push({
                            id: this.nextTodoId++,
                            title: this.newTodoText
                        });
                        this.newTodoText = "";
                    }
                }
            });
        </script>
        <h5 style="color: red"> 平时多流汗、战时少流血 </h5>
    </body>
</html>